.label{
    @apply
    block
    mt-2
    4xl:mt-8
    mb-1
    text-sm
    4xl:text-2xl
    font-medium
    text-[#617283]
}

.select{
    @apply
    appearance-none
    block w-full
    bg-white
    text-gray-700
    border-[#bec9d5]
     rounded
     h-[50px]
     4xl:h-20
     leading-5
     text-lg
     4xl:text-3xl
     px-3
     py-2
     border-[1.3px]
     focus:outline-none
     focus:border-cst_red
}
