.video-section{
    background-image: url("../../assets/image/line.svg");
        
}
.video-cover{
        background-image: url("../../assets/image/empty.svg");
}


.video-section .MuiTab-root[aria-selected="false"] {
    color: #9D9CAE !important;
  }

.video-section .MuiTab-root[aria-selected="true"] {
    color: white !important;
  }

