.main {
    @apply
    flex
    items-start
    md:items-center
    min-h-screen 
    max-h-screen
    bg-gradient-to-r
    from-blue-100
    via-blue-300
    to-blue-500
    select-none
}

.main_container{
    @apply
    flex-1
    h-screen
    md:h-full
    w-full
    md:max-w-5xl
    4xl:max-w-[1700px]
    mx-auto
    bg-white 
    rounded-lg 
    shadow-xl
}

.container_left_side{
    @apply
    h-32
    md:h-auto
    w-full
    hidden
    md:block
}

.left_side_image{
    @apply
    object-cover
    w-full
    h-full
}

.container_right_side{
    @apply
    flex
    items-start
    md:items-center
    h-full
    justify-center
    w-full
}

.right_side_logo{
    @apply
    flex
    justify-center
    w-full
    h-full
    4xl:min-h-[250px]
    
}

.right_side_logoImage{
    @apply
    w-32
    h-32
    mb-4
    mt-2
    4xl:mt-10
    text-blue-600
}

.right_side_logoImage img{
    @apply
    mb-4
    mt-2
    text-blue-600
}

.submit_button{
    @apply
    w-3/4
    p-4
    !bg-blue-500
    rounded
    text-white
    hover:scale-105
    hover:font-bold
    transition-all
}

.inputLabel{
    @apply
    block
    mt-2
    4xl:mt-8
    mb-1
    text-sm
    4xl:text-2xl
    font-medium
    text-[#617283]
}

.inputClass{
    @apply
    appearance-none
    block w-full
    bg-white
    text-gray-700
    border-[#bec9d5]
     rounded
     h-[50px]
     4xl:h-20
     leading-5
     text-lg
     4xl:text-3xl
     px-3
     py-2
     border-[1.3px]
     focus:outline-none
     focus:border-cst_red
}

