@import "swiper/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.75rem;
}

* {
  font-family: "Public Sans", sans-serif;
  @apply select-none;
}

body {
  @apply bg-white;
}

.Toastify__toast-container {
  @apply max-w-full
    md:max-w-none
    !w-[35rem];
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary
    rounded;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
  @apply text-secondary
    rounded
    cursor-pointer;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(0);
  @apply text-secondary
    rounded
    cursor-pointer 
    scale-150
    transition-all;
}

input[type="datetime-local"]:hover {
  filter: invert(0);
  @apply text-secondary
    rounded
    cursor-text
    transition-all;
}

.shadow-custom {
  --shadow-x-offset: 0px;
  --shadow-y-offset: 0px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-color: rgba(0, 0, 0, 0.3);

  box-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--shadow-blur)
    var(--shadow-spread) var(--shadow-color);
}